html
{
    background-image: url(images/bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

*
{
    text-align: center;
}
.contact
{
    border: 2px solid;
    border-radius: 5px;
}          


.fixed
{
    position: fixed;
}
#nav_block
{
    background-color: #f8f9fa;
}
          
            

















