.contact {
  border: 2px solid;
  border-radius: 5px;
}
#nav_block {
  background-color: #f8f9fa;
}
html {
  scroll-behavior: smooth;
}
section {
  padding: 5rem 0 0 0;
}
#mainNav {
  background-color: rgb(8, 8, 8);
  border-radius: 5px;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #c30707;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
.nav-link:hover, .nav-link:focus {
  color: var(--bs-nav-link-hover-color);
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active{
  color:#fff;
  background:#c50101 
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,#mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover{
  color:#fff;
  background:#c50101cb 
}
a:hover {
  color: var(--bs-link-hover-color);
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.bg_my_red {
  background-color: #c50101;
}
.my_red{
  color: #c50101;
}
.my_skills_red{
  color: #d41818;
}
.bg_my_dark {
  background-color: #151515;
}
.bg_my_darker {
  background-color: #1f1f1f;
}
.btn_my_red, .btn_my_red:focus {
  background-color: #c50101;
  color: #ffffff;
}
.btn_my_red:hover {
  background-color: #9e0000;
  color: #ffffff;
}
@font-face {
  font-family: "Doctor Glitch";
  font-weight: 400;  font-style: normal;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  font-display: swap;
  src: url("/fonts/Doctor_Glitch.otf") format('woff2');
}
.dc_font {
  font-family: "Doctor Glitch", sans-serif;
  color:rgb(190, 0, 0) 
}
.bg_my_gray_red {
  background-color: rgb(29, 2, 2);
}
.border_thick {
  border: 5px solid rgb(0, 0, 0) ;
  border-radius: 12px;
}
/*------- scroll bar --------*/
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(159, 0, 0);
  outline: 1px solid rgb(8, 7, 0);
}

#thmScript{
  border: 5px #9e0000 solid;  
}
#w_image{
  border-radius: 0.8%;
}
.skills_font{
  font-family: Rockwell, Times, serif;
}
.rw_font{
  font-family: Rockwell, sans-serif;
}
.contact_form, contact_form:active,.contact_form:hover,.contact_form:focus{
  background-color: #adacac;
}
.contact_form::placeholder{
  color: #2a2a2a
}